body{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}


a{
    text-decoration: none;
}

/* 폰트 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 애니메이션 */
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 상단 메뉴 */

.header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 68px;
    position: relative;
    z-index: 999;
}

.b_header{
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    height: 68px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 999;
}

.menubar{
    display: flex;
    width: 100%;
    max-width: 1440px;
    min-width: 480px;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0 0px;
    margin: 5px 0px;
    background-color: white;
}

.logo{
    width: 100px;
    height: 50px;
    float: left;
    margin: 0 3px;
}


.menu{
    display: flex;
    width: 100%;
    max-width: 800px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding:0px;
    margin: 0px;
    z-index: 999;
}

.menulink{
    display: flex;
    width: 100%;
    max-width: 800px;
    min-width: 100px;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
    padding:0px;
    margin: 0px;
    overflow: hidden;
    z-index: 999;
}

.menulink li{
    display: inline-block;
    position: relative;
    padding: 0px 0px;
    margin : 0px 5px;
}

.menu_name{
    width: 90px;
    align-items: center;
    text-align: center;
    line-height: 18px;
}

.menu_name a{
    color: #FF8888;
}

.menu_name a:hover{
    color: #FFCCCC;
    transition: color 0.1s linear;
}

.menu_name h4{
    margin: 3px;
}
.menu_name h6{
    margin: 3px;
}


/* 드롭다운 */

.menulink >li{
    display: inline-block;
    position: relative;
}
.menulink > li > ul{
    font-size: 15px;
    width: 100%;
    position: absolute;
    display: block;
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: 13px 0px;
}
.menulink:hover{overflow: visible;}
.menulink > li > ul > li{
    display: block;
    line-height: 40px;
}
.menulink > li > ul > li > a{
    color: white;
    transition: color 0.3s;
}
.menulink > li > ul > li > a:hover{
    color: #FF8888;
}
.menulink:hover +div+.b_menu{display: block;}
.b_menu{
    display: none;
    background-color: #FFCCCC;
    width: 100%;
    height: 330px;
    position: absolute;
    z-index: 900;
    margin: 0px;
}


/*우측상단아이콘*/

.icons{
    display: flex;
    font-size: 30px;
    float: right;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    margin: 0 3px;
}

.icons li{
    padding: 5px 10px;
}

.icons li a{
    color: #FF8888;
}



/*현재 페이지*/
.currentpage{
    display: inline-flex;
    background-color: #FF8888;
    width: 100%;
    height: 60px;
}

.currentpage > p{
    margin-left: 50px;
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    color: white;
}

.currentpage > h5{
    font-family: 'GmarketSansMedium';
    font-weight: lighter;
    color: white;
}

/* 브랜드 정보 */

.info1_background{
    background-repeat: no-repeat;
    background-color: #FFCCCC;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.brand_info2{
    width: 100%;
    display: inline-flex;
    margin: 100px 0px;
    animation: fadein 2s;
}

.brand_info2 > img{
    max-width: 680px;
    width: 100%;
    min-width: 300px;
    height: auto;
}

.brand_info2 > div{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
}

@media screen and (min-width:500px) {
    .brand_info2{
        background-repeat: no-repeat;
        background-color: white;
        background-position: center;
        position: relative;
        text-align: center;
        width: 100%;
        display: block;
        margin: 100px 0px;
        animation: fadein 2s;
    }
    
    .brand_info2 > img{
        border-radius: 10px;
        width: 800px;
        margin: 30px;
    }
    
    .brand_info2 > div{
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
    }


.footer{
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    background-color: #FF8888;
}
.footer > div{
    display: block;
    width: 100%;
    text-align: center;

}
.footer > div > p{
    font-size: 13px;
    color: white;
}